
.main{
	background-image: url(https://images.pond5.com/simple-star-space-background-effect-footage-023768280_prevstill.jpeg);
	height: 100%;
	text-align: center;
	font-size: 200%;
	color:white;
	position:relative;
}
.main h1{
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.mid{
	text-align: center;
	
}
.mid p{
	text-align: center;
	padding-right: 20%;
	padding-left: 20%;
	 
}
.mid h2{
	text-align: center;
	
}
.links{
	font-size: 150%;
	text-align: center; 
	color:red;
}
.galmain{
	background-image: url(https://images.pond5.com/simple-star-space-background-effect-footage-023768280_prevstill.jpeg);
	height: 20%;
	text-align: center;
	font-size: 200%;
	color:white;
	position:relative;
}
.galmain h1{
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.galBG{
	background-color:white;
	text-align:center;
	padding-right: 20%;
	padding-left: 20%;
	
	
}
.galpt{
	font-size:30px;
	display:grid;
	grid-template-columns:repeat(3, 1fr);
	overflow:hidden;
	
 }
 .galbox{
	 width:auto;
	 
 }
.galcenter{
	max-width:100%;
	
}
.laimain{
	background-image: url(https://images.pond5.com/simple-star-space-background-effect-footage-023768280_prevstill.jpeg);
	height: 20%;
	text-align: center;
	font-size: 200%;
	color:white;
	position:relative;
}
.laimain h1{
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.laitit{
	text-align:center;
	font-size:40px;
	
}
.latsec{
	text-align:center;
	font-size:30px;
	padding-right: 10%;
	padding-left: 10%;
	
	
}
.aboutitle{
	
}
.aboutmain{
	
}
